body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #fff2f9;
  color: #333;
}

header {
  padding: 1em;
  background: #ff4da6;
  color: white;
  text-align: center;
}

#map {
  height: 80vh;
  width: 100%;
  z-index: 1;
  position: relative;
}

#reportBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #ff4da6;
  color: white;
  padding: 12px 20px;
  border: 2px;
  border-radius: 8px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  cursor: pointer;
  z-index: 3;
}


#reportBtn:hover {
  background: #e04393;
}

#reportModal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  pointer-events: all;
  animation: popIn 0.3s ease;
}

@keyframes popIn {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}


.modal-content h2 {
  margin-top: 0;
}

.modal-content label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.modal-content select,
.modal-content textarea {
  width: 100%;
  padding: 6px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-content button {
  margin-top: 12px;
  padding: 8px 16px;
  background: #ff4da6;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal-content button:hover {
  background: #e04393;
}

.hidden {
  display: none !important;
}

.modal-content button + button {
  margin-left: 10px;
}

#filterBar {
  padding: 10px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
